@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    width: 100%;
    background-color: #05668d;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.main{
    width: 100%;
    background-color: #F0F3BD;
    flex: 1;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.main__input__box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.main__input__box__input{
    width: 60%;
    padding: .4rem;
    border-radius: 5px;
    border: 2px solid #00afb9;
    background-color: #FEEBCA;
    color: #f07167;
    font-weight: 700;
    font-size: 1.2rem;
}

.main__weatherbox__city{
    background-color: #05668d;
    color: #fff;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.main__weatherbox__city__name{
    font-size: 2rem;
    font-weight: 700;
}

.main__weatherbox__city__temperature{
    font-size: 1.2rem;
    font-weight: 500;
}

.main__weatherbox__city__weather{
    font-size: 2rem;
    font-weight: 500;
}

.main__weatherbox__city__tempbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.close{
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    top: .3rem;
    right: .6rem;
}

#search{
    padding: .3rem 1rem;
    background-color: #F7A58F;
    border-radius: 5px;
    border: 3px solid #00afb9;
    color: #00afb9;
    font-size: 1.2rem;
    cursor: pointer;
}

.footer{
    width: 100%;
    background-color: #05668d;
    color: #fff;
    padding: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.footer__content__link{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}